@import "tailwindcss";

body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;
}
h1 {
    font-weight: 600;
    text-shadow: 1px 10px 20px black;
}
